# requirements.txt
fastapi
uvicorn
mysql-connector-python
sqlalchemy
pymysql
cryptography
starlette
PyJWT
bcrypt
python-dotenv
httpx
resend
prometheus-fastapi-instrumentator
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy