.no-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.no-page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.no-page-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.no-page-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.no-page-content a {
    color: #000;
    text-decoration: underline;
}

.no-page-content a:hover {
    text-decoration: none;
}
