/* HomePage.css */

.home-intro-section {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.home-intro-section h1 {
    margin-bottom: 20px;
}

.home-intro-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.home-service-details {
    padding: 20px;
    background-color: #fff;
    max-width: 80%;
    margin: 20px auto;
    border: 1px solid #e0e0e0;
}

.home-service-details h2 {
    margin-top: 0;
}

.home-service-list {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1rem;
    line-height: 1.6;
}

.home-contact-info {
    padding: 20px;
    background-color: #fff;
    max-width: 80%;
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.home-contact-info h2 {
    margin-top: 0;
}

.home-contact-details {
    list-style-type: none;
    padding: 0;
    font-size: 1rem;
    line-height: 1.6;
}

.home-contact-details li {
    margin: 10px 0;
}

.home-contact-details a {
    text-decoration: none;
    color: #000;
}

.home-contact-details a:hover {
    text-decoration: underline;
}

.home-info-text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;
    padding: 1rem;
    padding-bottom: 2rem;
}

.key-points {
    list-style-type: disc;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.6;
}

.link-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.link-buttons a {
    color: #000;
    text-decoration: underline;
}
