/* Home.css */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust the height as needed */
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  font-size: 2rem; /* Set your desired font size */
  background-image: url('../../back-unsplash.jpg');
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .home {
    height: 20vh; /* Adjust the height for smaller screens */
    font-size: 0.8rem; /* Adjust the font size for smaller screens */
  }
}

/* Media query for medium screens */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home {
    height: 50vh; /* Adjust the height for medium screens */
    font-size: 1.8rem; /* Adjust the font size for medium screens */
  }
}

/* Media query for larger screens */
@media only screen and (min-width: 1025px) {
  .home {
    height: 50vh; /* Adjust the height for larger screens */
    font-size: 2rem; /* Adjust the font size for larger screens */
  }
}
