/* HomePage.css */

.home-page {
    padding: 0 2rem;
}

.home-page .info-text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
}

.key-points {
    padding-left: 1rem;
}